RESEND_API_KEY=re_G68huYkx_MSwHidefkKQfiGLkH1pRrGjA
NEXT_PUBLIC_SUPABASE_URL=https://rtbugwhwyqsqcydadqgo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0YnVnd2h3eXFzcWN5ZGFkcWdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI0NjY2MDUsImV4cCI6MjA2ODA0MjYwNX0.-V5oemirFxq_HwROIPA4SsNElcXDK0U8YjgD-29GJM8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0YnVnd2h3eXFzcWN5ZGFkcWdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI0NjY2MDUsImV4cCI6MjA2ODA0MjYwNX0.-V5oemirFxq_HwROIPA4SsNElcXDK0U8YjgD-29GJM8
SUPABASE_ACCESS_TOKEN=sbp_51b01899be0158046d2385d33f1d4a5e1d30e7ae
NEXT_PUBLIC_BASE_URL=http://localhost:3000
